<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="public/home_layout">
<head>

</head>
<body>

<div layout:fragment="content">
    <div class="row">
        <div class="frame">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h1>填写假期信息失败</h1>
                <h1 class="text-danger">开始状态假期只能存在一个！</h1>
                <a href="/holiday_all" th:href="@{holiday_all}"><h3>查看假期信息</h3></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
