<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="public/home_layout">
<head>

</head>
<body>
<link href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>

<div layout:fragment="content">
    <div class="row">
        <div class="frame">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h1>成功填写假期信息</h1>
                <a href="/holiday_all" th:href="@{holiday_all}">查看假期信息</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
