<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="public/home_layout">
<head>
    <link href="/css/student/login.css" th:href="@{/css/student/login.css}" rel="stylesheet"/>
</head>
<body>
<link href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>

<div layout:fragment="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive" id="student_finished">
                <table class="table table-hover">
                    <caption><a class="btn">当前调查</a>&emsp;&emsp;&emsp;<a class="btn">所有调查</a></caption>
                    <thead>
                    <tr>
                        <th>假期</th>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>去向</th>
                        <th>离校时间</th>
                        <th>回校时间</th>
                        <th>提交IP</th>
                        <th>提交时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="holidayPlan in finished_info_all">
                        <th>{{holidayPlan.holidayInfo.holidayName}}</th>
                        <th>{{holidayPlan.student.studentId}}</th>
                        <th>{{holidayPlan.student.studentName}}</th>
                        <th>{{holidayPlan.whereToGo}}</th>
                        <th>{{holidayPlan.leaveTime}}</th>
                        <th>{{holidayPlan.backTime}}</th>
                        <th>{{holidayPlan.ip}}</th>
                        <th>{{holidayPlan.submitTime}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
    <script src="/js/vue-app/student/student_finished_app.js"
            th:src="@{/js/vue-app/student/student_finished_app.js}"></script>
</th:block>

</html>
