<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.springframework.org/schema/jdbc"
      xmlns:on-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml"
      layout:decorator="public/home_layout">
<head>

</head>
<body>
<link href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css" rel="stylesheet"/>

<div layout:fragment="content">
  <div id="adminHolidayInfoAll">
    <div class="col-lg-12">
      <div class="table-responsive" style="min-height: 200px">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>假期编号</th>
            <th>假期名称</th>
            <th>假期开始时间</th>
            <th>假期结束时间</th>
            <th class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">假期状态</a>
              <span class="glyphicon glyphicon-menu-down"></span>
              <ul class="dropdown-menu" style="left: 0">
                <li>
                 <a href="#" v-on:click="get_all('ALL')"> ALL</a>
                </li>
                <li>
                  <a href="#" v-on:click="set_stat('START')"> START</a>
                </li>
                <li>
                  <a href="#" v-on:click="set_stat('ACTIVATION')"> ACTIVATION</a>
                </li>
                <li>
                  <a href="#" v-on:click="set_stat('OVER')"> OVER</a>
                </li>
              </ul>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="holidayInfo_list in holidayInfo_list">
            <td>{{holidayInfo_list.holidayId}}</td>
            <td>{{holidayInfo_list.holidayName}}</td>
            <td>{{holidayInfo_list.holidayStartTime}}</td>
            <td>{{holidayInfo_list.holidayEndTime}}</td>
            <td>{{holidayInfo_list.holidayStatus}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<th:block layout:fragment="scripts">
  <script src="/js/vue-app/manage/admin_holidayInfo_all.js"
          th:src="@{/js/vue-app/manage/admin_holidayInfo_all.js}"></script>
</th:block>
</body>
</html>
