body {
    padding-top: 75px;
}

.frame {
    margin-top: 50px;
    margin-bottom: 50px;
}

.plash {
    position: fixed;
    z-index: 10000;
    background-color: #f0f0f0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loading {
    top: 30%;
    margin-top: 115px;
    position: absolute;
    bottom: 0;
    font-size: 30px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-weight: bold;
    text-align: center;
}

.time_01
{
    height: 64px;
}


/* 若浏览器支持 backdrop-filter，则透明度为 50%，并启用毛玻璃 */
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .navbar {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

/* 若浏览器器不支持，则使用 MaterialDesign 的风格 */
@supports not ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    .navbar {
        background: #fff;
        color: #333;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, .18), 0px 6px 10px rgba(0, 0, 0, .22);
    }
}