<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="public/home_layout">
<head>

</head>
<body>

<div layout:fragment="content">
    <div class="container" style="display: none">
        <div class="alert alert-danger fade in">
            <span></span>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <form>
                <legend>忘记密码</legend>
                <div class="form-group">
                    <p>请输入你的邮箱地址,我们会将重置密码的进一步操作发给你</p>
                    <label for="email" class="control-label">邮箱</label>
                    <input type="email" name="email" id="email" placeholder="邮箱" autofocus="" class="form-control"/>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary"><i class="fa fa-key"></i>重置密码</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
