<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml"
      layout:decorator="public/home_layout">
<head>

</head>
<body>

<div layout:fragment="content" id="forgetPassword">
    <div class="container" v-show="display">
        <div v-bind:class="messageCss">
            <span>{{message}}</span>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <form>
                <legend>忘记密码</legend>
                <div class="form-group">
                    <p>请输入你的邮箱地址,我们会将重置密码的进一步操作发给你</p>
                    <label for="email" class="control-label">邮箱</label>
                    <input type="email" name="email" id="email" placeholder="邮箱" autofocus="" class="form-control"
                    v-model="email" v-on:click="inputEmail"/>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" v-on:click="send_email">
                        <i class="glyphicon glyphicon-refresh"></i>
                        &emsp;重置密码
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<th:block layout:fragment="scripts">
    <script src="/js/public/forget_password_app.js" th:src="@{/js/public/forget_password_app.js}"></script>
</th:block>
</html>
