<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no"/>

  <title>软件工程151假期去向统计</title>

  <link href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
  <link href="/css/public/site.css"
        th:href="@{/css/public/site.css}" rel="stylesheet"/>
  <link href="/css/public/timeapi.css"
        th:href="@{/css/public/timeapi.css}" rel="stylesheet"/>
  <link href="/css/public/time.css"
        th:href="@{/css/public/time.css}" rel="stylesheet"/>
</head>

<body>

<div class="plash">
  <div class="loading">Loading...</div>
</div>

<nav class="navbar  navbar-fixed-top">
  <div class="navbar-inverse">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" th:href="@{/}">假期去向</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="student" style="display: none">
        <li><a href="/student_home" th:href="@{/student_home}">首页</a></li>
        <li><a href="/holiday_plan" th:href="@{/holiday_plan}">去向调查</a></li>
        <li><a href="/finished" th:href="@{/finished}">已完成</a></li>
      </ul>
      <ul class="nav navbar-nav" id="admin" style="display: none">
        <li><a href="/admin_home" th:href="@{/admin_home}">首页</a></li>
        <li><a href="/holiday_info" th:href="@{/holiday_info}">假期信息提交</a></li>
        <li><a href="/holiday_all" th:href="@{/holiday_all}">查看假期信息</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="entrance" style="display: none">
        <li><a href="/studenlogin" th:href="@{/studenlogin}">学生登录</a></li>
        <li><a href="/managelogin" th:href="@{/managelogin}">管理员入口</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="personal" style="display: none">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">用户：
            <span id="userName"></span>
            <span class="glyphicon glyphicon-menu-down"></span>
          </a>
          <ul class="dropdown-menu" style="left: 0px">
            <li role="separator"></li>
            <li>
              <a href="/change_password" th:href="@{/change_password}"><span class="glyphicon glyphicon-cog"></span> &nbsp;修改密码</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a href="/logout" th:href="@{/logout}" onclick="logout()"><span class="glyphicon glyphicon-off"></span>
                &nbsp;退出</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
    </div>

  </div>
  <div class="time_01 col-xs-10  col-xs-offset-1 col-lg-12 col-lg-offset-3">
    <div class='center' align="center">
      <table>
        <tr class='hours'>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td class="td_time" id = "hours"></td>
          <td class="td_time">hours</td>
        </tr>
        <tr class='minutes'>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td class="td_time" id="minutes"></td>
          <td class="td_time">minutes</td>

        </tr>
        <tr class='seconds'>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td><em><span class="glyphicon glyphicon-stop"></span></em></td>
          <td class="td_time" id = "seconds"></td>
          <td class="td_time">seconds</td>

        </tr>
      </table>
    </div>
  </div>
</nav>


<div class="container frame">
  <div layout:fragment="content">
    CONTENT
  </div>
</div>

<footer>
  <nav class="navbar  navbar-fixed-bottom">
    <div class="navbar-inverse">
      <div class="container ">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#footer">
            <span class="glyphicon glyphicon-option-horizontal" style="color: #e0e0e0"></span>
          </button>
          <p class="navbar-text" style="font-size: 13px">2017 © 假期管理系统（测试版） by nitmali</p>
        </div>
        <div id="footer" class="collapse navbar-collapse">
          <ul class="nav navbar-nav center-block">
            <li>
              <a>关于此系统</a>
            </li>
            <li>
              <a>联系我</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</footer>

<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"
        th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script src="/webjars/vue/2.5.9/dist/vue.js"
        th:src="@{/webjars/vue/2.5.9/dist/vue.js}"></script>
<script src="/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"
        th:src="@{/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js}"></script>
<script src="/META-INF/resources/js/js-md5/md5.js"
        th:src="@{/js/js-md5/md5.js}"></script>
<script src="/META-INF/resources/js/time.js" th:src="@{/js/time.js}"></script>
<script src="/META-INF/resources/js/login.js" th:src="@{/js/login.js}"></script>

<script>
    setTimeout("$('.plash').fadeOut(300)", 300);

</script>
<th:block layout:fragment="scripts">

</th:block>
</body>

</html>
