<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="public/home_layout">
<head>

</head>
<body>

<div layout:fragment="content">
    <div class="container" style="display: none">
        <div class="alert alert-danger fade in">
            <span></span>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <form>
                <legend>重置密码</legend>

                <h4><a href="/public/forget_password" th:hred="@{/public/forget_password}">
                    此链接已失效，点击我请重新申请重置密码
                    </a>
                </h4>
            </form>
        </div>
    </div>
</div>
</body>
</html>
