<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>

  <title>软件工程151假期去向统计</title>

  <link href="/webjars/bootstrap/3.3.7/dist/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
  <link href="/css/site.css"
        th:href="@{/css/site.css}" rel="stylesheet"/>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" th:href="@{/}">假期去向</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav" id="student" style="display: none">
        <li><a href="/home" th:href="@{/home}">首页</a></li>
        <li><a href="/holiday_plan" th:href="@{/holiday_plan}">去向调查</a></li>
        <li><a href="/finished" th:href="@{/finished}">已完成</a></li>
      </ul>
      <ul class="nav navbar-nav" id="admin" style="display: none">
        <li><a href="/admin" th:href="@{/admin}">首页</a></li>
        <li><a href="/holiday_info" th:href="@{/holiday_info}">假期信息提交</a></li>
        <li><a href="/holiday_all" th:href="@{/holiday_all}">查看假期信息</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="entrance" style="display: none">
        <li><a href="/studenlogin" th:href="@{/studenlogin}">学生登录</a></li>
        <li><a href="/managelogin" th:href="@{/managelogin}">管理员入口</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" id="personal" style="display: none">
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">用户：<span id="userName"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a>个人中心</a>
            </li>
            <li role="separator" class="divider"></li>
            <li>
              <a>修改密码</a>
            </li>
          </ul>
        </li>
        <li><a href="/logout" th:href="@{/logout}" onclick="logout()">退出</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container frame">

  <div layout:fragment="content">
    CONTENT
  </div>

</div>

<script src="/webjars/jquery/3.2.1/dist/jquery.min.js"
        th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<script src="/webjars/bootstrap/3.3.7/dist/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/dist/js/bootstrap.min.js}"></script>
<script src="/js/js-md5/md5.js"
        th:src="@{/js/js-md5/md5.js}"></script>
<script src="/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js"
        th:src="@{/webjars/jquery-cookie/1.4.1-1/jquery.cookie.js}"></script>
<script src="/js/login.js" th:src="@{/js/login.js}"></script>
<th:block layout:fragment="scripts">

</th:block>
</body>

</html>
